
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <div class="container bootstrap snippet">
    <div class="row">
		  <div class="col-md-1 bg-white ">
		</div>
        
        <!--=========================================================-->
        <!-- selected chat -->
<div class="col-md-8 bg-white ">
  <div class="chat-message">
      <ul class="chat">

       
      </ul>
  </div>
<!--<div class="chat-box bg-white">-->
<!--	<div class="input-group">-->
<!--		<input class="form-control border no-shadow no-rounded" placeholder="Type your message here">-->
<!--		<span class="input-group-btn">-->
<!--			<button class="btn btn-success no-rounded" type="button">Send</button>-->
<!--		</span>-->
<!--	</div><!-- /input-group -->	
<!--</div>            -->
		</div>        
	</div>
</div>