<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="row bootstrap snippets">
    <div class="col-md-6 col-xs-12 col-md-offset-3">
      <div class="panel" id="message">
        <div class="panel-heading">
          <h3 class="panel-title"></h3>
        </div>
        <div class="panel-body">
          <ul class="list-group list-group-full">
          </ul>
        </div>
      </div>
    </div>
</div>