<% if current_user %>
<%= render @users %>
<% end %>

<% if params[:people] == 'friends' && @users.blank? %>

<h2>Sorry, <%= current_user.username %> you have no friends.</h2>

<% end %>

<% if params[:people] == 'requests' && @users.blank? %>

<h2>Sorry, <%= current_user.username %> you have no friend requests.</h2>

<% end %>

<% if params[:people] == 'pending' && @users.blank? %>

<h2>Sorry, <%= current_user.username %> you have no pending friend requests.</h2> 

<% end %>

